#mealsDisplay{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 30px;
}
.design{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    width: 302px;
    margin-top: 20px;
}
.design img{
    width: 300px;
}
.design h4{
    text-align: center;
    padding: 10px;
}
.ingredients{
    width: 400px;
    border: 1px solid wheat;
    box-shadow: rgb(196, 193, 193);
}
.ingredients img{
    width: 448px;
    height: 300px;
}
.ingredients h2, h4, li{
    padding-left: 10px;
    margin-left: 10px;
    list-style: none;
}